DATABASE_URL="postgresql://myuser:mypassword@postgres_db:5432/my_relational_db?schema=public"
MONGO_URI="mongodb://rootuser:rootpassword@mongo_db:27017/my_document_db?authSource=admin"
JWT_SECRET=your_jwt_secret_key_here
PORT=5000